<div class="section-components">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <h3 class="title">{{title}}<span>{{title2}}</span></h3>
          <h6 class="description">{{description1}}</h6>
          <h5 class="description">{{description2}}
          </h5>
      </div>
      <div class="col-lg-6 col-md-12 ml-auto">
        <div class="image-container">
          <img class="components-macbook" src="assets/img/section-components/laptop-basics.png" alt="" />
          <img class="table-img" src="assets/img/section-components/table.jpg" alt="" />
          <img class="share-btn-img" src="assets/img/section-components/share-btn.jpg" alt="" />
          <img class="coloured-card-btn-img" src="assets/img/section-components/coloured-card-with-btn.jpg" alt="" />
          <img class="coloured-card-img" src="assets/img/section-components/coloured-card.jpg" alt="" />
          <img class="social-img" src="assets/img/section-components/social-row.jpg" alt="" />
          <img class="pin-btn-img" src="assets/img/section-components/pin-btn.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
