<div class="section section-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-10 ml-auto mr-auto">
        <div class="section-description">
          <h3 class="title">{{title}}<span>{{title2}}</span><span class="cloud">{{title3}}</span></h3>
          <h6 class="description">{{description1}}</h6>
          <h5 class="description">{{description2}}</h5>
        </div>
      </div>
      <div class="col-lg-7 col-md-12 ml-auto">
        <div class="image-container">
          <img class="ipad-img" src="assets/img/section-components/presentation-ipad.jpg">
          <img class="area-img add-animation animated" src="assets/img/section-components/ipad-comments.jpg">
          <img class="info-img add-animation animated" src="assets/img/section-components/ipad-table.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
