<div class="features-1">
  <div class="row">
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-rose">
         <img class="img-fluid" src="assets/img/stock-automation80x80.png" alt="stock automation">
        </div>
        <h4 class="info-title">{{infoTitle1}}</h4>
        <p>{{paragraph1}}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-info">
          <img class="img-fluid" src="assets/img/smart-check-out-80x80.png" alt="stock automation">
        </div>
        <h4 class="info-title">{{infoTitle2}}</h4>
        <p>{{paragraph2}}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="info">
        <div class="icon icon-success">
          <img class="img-fluid" src="assets/img/marketing-crm-80x80.png" alt="stock automation">
        </div>
        <h4 class="info-title">{{infoTitle3}}</h4>
        <p>{{paragraph3}}
        </p>
      </div>
    </div>
  </div>
</div>
