<div class="section section-free-demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-8 ml-auto mr-auto">
        <div class="icon-github">
          <i class="fa fa-rocket"></i>
        </div>
        <div class="section-description">
          <h2 class="title">{{title}}</h2>
          <h5 class="description">{{description1}}</h5>
          <div class="github-section">
            <div class="git-demo float-left">
              <a href="https://github.com/creativetimofficial/ct-material-kit-pro" target="_blank" class="btn btn-rose btn-round">{{titleBtn}}</a>
            </div>
            <div class="git-button float-right">
              <!-- Star on GitHub -->
              <a class="github-button" href="https://github.com/creativetimofficial/ct-material-kit-pro" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
              <!-- Fork on GitHub -->
              <a class="github-button" href="https://github.com/creativetimofficial/ct-material-kit-pro" data-icon="octicon-repo-forked" data-size="large" data-size="large" data-show-count="true" aria-label="Fork ntkme/github-buttons on GitHub">Fork</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-4 ml-auto">
        <div class="image-container">
          <img class="ipad-img" src="assets/img/stockstore-cloud.png">
        </div>
      </div>
<!--      <div class="col-lg-6 col-md-12 ml-auto">-->
<!--        <div class="row">-->
<!--          <div class="col-md-5 ml-auto">-->
<!--            <div class="card card-pricing card-plain">-->
<!--              <div class="card-body">-->
<!--                <h3 class="card-title">Prova gratuita</h3>-->
<!--                <ul>-->
<!--                  <li> <b>60</b> Components</li>-->
<!--                  <li> <b>3</b> Example Pages</li>-->
<!--                  <li><i class="material-icons text-danger">close</i> Unconventional Cards</li>-->
<!--                  <li><i class="material-icons text-danger">close</i> Sections</li>-->
<!--                  <li><i class="material-icons text-danger">close</i> Photoshop for Prototype</li>-->
<!--                  <li><i class="material-icons text-danger">close</i> Premium Support</li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-5 ml-auto">-->
<!--            <div class="card card-pricing card-plain">-->
<!--              <div class="card-body">-->
<!--                <h3 class="card-title">PRO Version</h3>-->
<!--                <ul>-->
<!--                  <li> <b>1000+</b> Components</li>-->
<!--                  <li> <b>10</b> Example Pages</li>-->
<!--                  <li><i class="material-icons text-success">check</i> Unconventional Cards</li>-->
<!--                  <li><i class="material-icons text-success">check</i> Sections</li>-->
<!--                  <li><i class="material-icons text-success">check</i> Photoshop for Prototype</li>-->
<!--                  <li><i class="material-icons text-success">check</i> Premium Support</li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>

