<div class="section section-free-demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-8 ml-auto mr-auto">
        <div class="icon-github">
          <i class="fa fa-rocket"></i>
        </div>
        <div class="section-description">
          <h3 class="title">{{title}}<span>{{title2}}</span></h3>
          <h5 class="description">{{description1}}</h5>
          <div class="github-section">
            <div class="git-demo float-left">
              <a routerLink="/products" routerLinkActive="active" target="_blank" class="btn btn-danger btn-round">{{titleBtn}}</a>
            </div>
           </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-4 ml-auto">
        <div class="image-container">
          <img class="ipad-img" src="assets/img/stockstore-cloud.png">
        </div>
      </div>
    </div>
  </div>
</div>

